.formDiv {
  padding: 21px;
  border-radius: 5px;
  background-color: #fae7e7;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 20%;
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  
  
}

input[type="submit"]:hover {
  background-color: #055c17;
  width: 20%;
  text-align: center;
}
.showError {
  border-color: #a94442 !important;
  color: #a94442 !important;
  margin-bottom: 15px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(180, 177, 177);
  opacity: 1; /* Firefox */
}

input[type="password"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.registered {
  border: 2px solid black;
  width:100;
  margin-top:35px;
  margin-left:20%;
  margin-right:20%;
  color:lightseagreen;
  border-radius:8px;
  padding:3px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  
}
@media screen and (max-width: 500px) {
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
    
  }
}
